<footer>
    <div class="contrener">
        <h2>THANK YOU</h2>
        <h4><img src="whatsapp.png" width="30px" alt=""> 9641768240</h4>
        <h4><img src="email.png" alt=""> mostafaali49867@gmail.com</h4>
        <h4><img src="mobile.png" alt="">  9641768240</h4>
        <h4><img src="telegram.png" alt=""> @NEONTECHNOLOGYSERVICE</h4>
    </div>
    <div class="contrener">
        <h2 style="color:deeppink">&COPY; Mostafa ALi</h2>
        <h4 style="color
        :White">INDIA, WEST BENGAL, <br>
        KOLKATA
        </h4>
    </div>    
    <div class="contrener">
        <h2 style="color:coral">SERVICES</h2>
        <h4 style="color:cornsilk"><img src="arrow.gif" height="30px" alt="" >web design</h4>
        <h4 style="color:cornsilk"><img src="arrow.gif" height="30px" alt="" >Re-design</h4>
        <h4 style="color:cornsilk"><img src="arrow.gif" height="30px" alt="" >Ads management</h4>
        <h4 style="color:cornsilk"><img src="arrow.gif" height="30px" alt="" >prototype design</h4>
        <h4 style="color:cornsilk"><img src="arrow.gif" height="30px" alt="" >web-devlopment</h4>
        <h4 style="color:cornsilk"><img src="arrow.gif" height="30px" alt="" >Re-devlopment</h4>
        <h4 style="color:cornsilk"><img src="arrow.gif" height="30px" alt="" >Figma</h4>


    </div>                            
</footer>
    <h4 id="copy">&copy;Mostafa Ali</h4>