<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="header.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="about.css">
</head>
<body>
    {{>nav}}
    {{!-- about content --}}
    <div class="about">ABOUT</div>
   <div class="contrenar">
      <div class="value">
        <img src="mypic.png" alt="mypic" height="300px" width="300px">
        <div class="subtext">
        <h3 id="my-name">Hello I am Mostafa Ali</h3>
        <h5 id="profession">I am a professional full-stack WEB-DEVELOPAR</h5>
        <h5 id="profession">FIGMA DESIGNER</h5>
        <h5 id="profession">Prototype Designer</h5>
        </div>
      </div>
        <div class="value" id="think">
          <h3 id="think">We're a Group of creative thinkers who can give you the proper way to grow your business. And Increase your sales in 2 months With proper marketing strategy.</h3>
          <img src="Business.png" alt="banner">
        </div>
      <div class="value">
        <img src="business2.png.png" alt="banner">
            <p style="display:block;">Hello, <br>
            Are you a businessman?<br> are Your BUSINESS New? <br>
            And You trying to increase your sales. But you couldn't increase your sales. Grow business in 2023 is too difficult when you have no strategy and advanced Equipment. And lots of companies in the market and they all try to sell their product. In this case, sell not easy.</p>
        </div>
        <div class="value">
          <h3 >I Will tell you the right way to grow your business</h3>
          <img src="graph.png" alt="">
        </div>
        <div class="value">
          <img src="lowerGraph.png" alt="">
          <h2>WHAT IS NEED TO GROW A BUSINESS.</h2>
        </div>
        <div class="value">
          <p>Now is the right time for shifting your business online. Because every day, many people use Facebook, Instagram, Telegram, Youtube, And a lot of Social Media Platforms. There are a lot of people out there who need your PRODUCT. but your Product is not available here. If you want to sell your product on this platform so follow me <br>
          <a href="/onme"><button id="onmecreation">click here for Social page</button></a></p>
          <img src="anim.gif" alt="banner">
        </div>
        <div class="value">
          <video src="whatsNew.mp4"></video>
          <h3>YOU NEED TO KNOW WHAT IS THE DIGITAL MARKETING?</h3>
        </div>
        <div class="VALUE">
          <p style="color:blue; padding:5px; font-size:1.8rem;">Social media Ads are the best way to increase your sales. We can run ads for your company. And we will run your ads on lots of Social media platforms.</p>
          <video src="adsmanagemant.mp4"></video>
        </div>
        <div class="value">
          <img src="business.png" alt="">
          <p>In 2023 Without a WEBSITE, Your business is invisible. A Website represents your business in the WORLD. All Your product details are available in Written form with photos on your WEBSITE. Anyone can come to your website he/she will read/watch/overview  your product. He/She cnd take this product form your website.</p>
        </div>
     </div>
    {{>footer}}
</body>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</html>