<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
    <link rel="stylesheet" href="header.ccs">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="contact.css">
</head>
<body>
              {{!-- vavbar --}}
    {{>nav}}
    {{!-- contact --}}
        <div class="contact-value">
          <div class="content "  >
             <h4 id="banner-content">Today is the day to build the business of your dreams. Share your mission with the world — and blow your customers away.
              </h4>
          </div>
          <div class="why-cosh">
            <img src="business.png" alt="">
            <h1>Why Choose ME?</h1>
          </div>
          <div class="why-value">
            <table>
              <tr>
                <td>1. Design any kind of Custom, Modern, and Responsive Website</td>
              </tr>
              <tr>
                <td>2. Redesign Responsive webSite</td>
              </tr>
              <tr>
                <td>3. Exceptional on-time delivery experience & can Responsive</td>
              </tr>
              <tr>
                <td><b><i>4. 100% Money -Back Guarantee</i></b></td>
              </tr>
              <tr>
                <td><b><i>5. 100% Customer Satisfaction</i></b></td>
              </tr>
              <tr>
                <td>6. Support after Order Completion</td>
              </tr>
            </table>
            <img src="graph.png" height="" width="300px" alt="">
            </div>
              <div class="grow-neon">
                <img src="gybwn.png" width="300px" alt="">
                <div class="img-value">
                  <h2>What Should You Expect?</h2>
                  <ul>
                    <li>Responsive, High-Quality, Clean, and ModernDesigns</li>
                    <li>Speed optimized & Secure from Malware and hack
                    </li>
                    <li>All browsers Compatible</li>
                    <li>Social Media Integration</li>
                    <li>Content Uploaded</li>
                    <li>E-commerce store With various payment integrations</li>
                    <li>Newsletter & Miling lists (Mailchimp)</li>
                  </ul>
                </div>
                <div class="form">
                  <img src="hello.png" width="300px" alt="">
                  <form action="">
                    <label for="">NAME:</label>
                    <input type="text" id="text-name"><br><br>
                    <label for="">Email:</label>
                    <input type="email" name="-textemail" id="text-email"><br>
                    <textarea name="text" id="textarea" placeholder="Write A Message" cols="30" rows="10"></textarea><br>
                    <button id="text-button" type="submit">SUBMIT</button>
                  </form>
                </div>                
            </div>
        </div>    
    {{!-- footer --}}
    {{>footer}}
</body>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</html>