<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="footer.css">
  </head>
  <body>
    <div class="text">
      <h3 id="grow">GROW YOUR BUSINESS WITH NEON</h3>
      <H4 id="grow2">ALL YOUR VIRTUAL POSSIBILITY IN HERE</H4>
      <h1>HELLO I AM MOSTAFA ALI</h1>
      <h3>I AM A FULL STACK DEVELOPER</h3>
      <h4>UI/UX DESIGNER</h4>
    </div>
    <a href="/about" id="nav-btn">CLICK HERE</a>
    <div class="shadow"></div>
  </body>
</html>