<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        display: flex;
        background-color: black;
        flex-wrap: wrap;
        color: white;
    }
    img{
        height: 200px;
    }
</style>
<body>
    <img src="about.png" alt="">
    <h2>about.png</h2>
    <video src="adsmanagemant.mp4" autoplay ></video>
    <h2>adsmanagemant</h2>
    <img src="boostbusiness.png" alt="">
    <h2>boostbusiness.png</h2>
    <img src="contact.png" alt="">
    <h2>contact.png</h2>
    <img src="home.png" alt="">
    <h2>home.png</h2>
    <img src="lowerGraph.png" alt="">
    <h2>lowerGraph.png</h2>
    <img src="neonlogo.png" alt="">
    <h2>neonlogo.png</h2>
    <img src="newimg.png" alt="">
    <h2>newimg.png</h2>
    <img src="professional.png" alt="">
    <h2>professinal.png</h2>
    <img src="stop.png" alt="">
    <h2>stop.png</h2>
    <video src="whatsnew.mp4" autoplay></video>
    <h2>whatsnew.png</h2>
    <video src="youinsface.mp4"></video>
    <h2>youinsface.png</h2>
    <img src="anim.gif" alt="">
    <img src="banner.png" alt="">
    <img src="business.png" alt="">
    <img src="css.png" alt="">
    <img src="graph.png" alt="">
    <img src="gybwn.png" alt="">
    <img src="hello.png" alt="">
    <img src="html.png.png" alt="">
    <img src="java.png" alt="">
    <img src="mypic" alt="">
    <img src="node.png" alt="">

</body>
</html>