<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICE</title>
    <link rel="stylesheet" href="header.ccs">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="service.css">
</head>
<style>

</style>
<body>
    {{>nav}}
    <div class="service-contrenar">
        <div class="website-gif con">
            <img src="website.gif" alt="">
            <div class="content">
                <h2>RASPONSIVE WEBSITE</h2>
                <p> Design any kind of Custom, Modern, and Responsive Website</p>
                <P>Speed optimized & Secure from Malware and hack</P>
                <h3>Starting at just $149</h3>
            </div>
        </div>
        <div class="shift con">
            <div class="content">
                <h2>E-COMMERCE</h2>
                <p>E-commerce store With various payment integrations</p>
                <p>Speed optimized & Secure from Malware and hack</p>
                <p>Newsletter & Miling lists Mailchimp</p>
                <h3>Starting At just $500</h3>
            </div>
            <img src="shiftbusiness.png" alt="">
        </div>
        <div class="website con">
            <img src="professinal.png" alt="">
            <div class="content">
                <h2>UI?UX DESIGN</h2>
                <p>. Design any kind of Custom, Modern and 3D and UNIQE Designes In FIGMA</p>
                <h3>Starting at just $80</h3>
            </div>
        </div>
        <div class="scoial con">
            <div class="content">
                <h2>Ads</h2>
                <p>Social Media Ads</p>
                <p>Uniqe And Top LAVEL editing</p>
                <h3>Starting at just $130</h3>
            </div>
            <img src="SOCIAL.png" alt="">
        </div>
        
    </div>
    {{>footer}}
</body>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</html>