<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKILL</title>
    <link rel="stylesheet" href="header.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="skill.css">
</head>
{{!-- this is the nav bar --}}
  {{>nav}}
  <div class="skill-contrenar">
      <div class="skiil-add">
        <div class="skill">
          <img src="html.png.png" alt="">
          <div class="bar " style="margin: left 10px;">
            <div class="bar-color" style="width:90%;"></div>
          </div>
          <h3>90%</h3>
          <div class="skill-value"><h1>HTML USEING FOR FRANT-END</h1></div>
        </div>
      </div>
      {{!-- the skill value pair  --}}
      <div class="skill-add">
        <div class="skill">
          <img src="css.png" alt="">
          <div class="bar" style="margin-left: 20px;">
            <div class="bar-color" style="width:80%;"></div>
          </div>
          <h3>80%</h3>
          <div class="skill-value"><h1>CSS USEING FOR WEBSITE DESIGN</h1></div>
        </div>
      </div>
      {{!-- the skill value pair  --}}
      <div class="skill-add">
        <div class="skill">
          <img src="java.png" alt="">
          <div class="bar" style="margin-left: 20px; margin-top:2rem;">
             <div class="bar-color" style="width:75%"></div>
          </div>
          <h3>75%</h3>
          <div class="skill-value"><h1>JavaScript USEING FOR FRANT-END</h1></div>
        </div>
      </div>
      {{!-- the skill value pair  --}}
      <div class="skill-add">
        <div class="skill">
          <img src="node.png" alt="">
          <div class="bar" style="margin-left: 20px;">
            <div class="bar-color" style="width:60%;"></div>
          </div>
          <h3>60%</h3>
          <div class="skill-value"><h1>NODE USEING FOR BACK-END</h1></div>
        </div>
      </div>
      {{!-- the skill value pair  --}}
      <div class="skill-add">
        <div class="skill">
          <img src="professinal.png" alt="">
          <div class="bar">
            <div class="bar-color" style="width:90%;"></div>
          </div>
          <h3>90%</h3>
          <div class="skill-value"><h1>WEB DESIGN</h1></div>
        </div>
      </div>
      {{!-- the skill value pair  --}}
      <div class="skill-add">
        <div class="skill">
          <img src="publics.png" alt="">
          <div class="bar" style="margin-left: 20px;">
            <div class="bar-color" style="width:99%;"></div>
          </div>
          <h3>99%</h3>
          <div class="skill-value"><h1>PUBLIC SPEAKING</h1></div>
        </div>
      </div>
      {{!-- the skill value pair  --}}
      <div class="skill-add">
        <div class="skill">
          <img src="mongo.png" alt="">
          <div class="bar" style="margin-left: 20px;">
          <div class="bar-color" style="width:80%"></div>
        </div>
        <h3>80%</h3>
          <div class="skill-value"><h1 style="color:blue">MONGODB USEING FOR DATABASE</h1></div>
        </div>
      </div>
  </div>
    {{!-- this is footer --}}
  {{>footer}}
</body>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</html>